// theme colors (variables)
$primary: #0d6efd !default;
$secondary: #adb5bd !default;
$success: #198754 !default;
$danger: #dc3545 !default;
$warning: #ffc107 !default;
$info: #0dcaf0 !default;
$light: #f8f9fa !default;
$dark: #000 !default;

// color palette (map)
$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "danger": $danger,
    "warning": $warning,
    "info": $info,
    "light": $light,
    "dark": $dark,
    "indigo": #6610f2,
    "pink": #d63384,
);



// font sizes
$font-size-base: 1rem;
$font-size-sm: $font-size-base * 0.875 !default;
$font-size-md: $font-size-base * 1.25 !default;
$font-size-lg: $font-size-base * 1.5 !default;
$font-size-xl: $font-size-base * 2 !default;
$font-size-2xl: $font-size-base * 2.5 !default;


// spacing
$spacer: 1rem !default;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1) !default;

// borders
$border-width: 1px !default;
$border-style: solid !default;
$border-color: #dee2e6 !default;

$border-radius: .375rem !default;
$border-radius-sm: .25rem !default;
$border-radius-lg: .5rem !default;
$border-radius-xl: 1rem !default;
$border-radius-2xl: 2rem !default;
$border-radius-pill: 50% !default;
