%flex-layout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    @extend %flex-layout;
    padding: 0.75rem 0.75rem * 2;
    box-shadow: $base-box-shadow;

    .site-title {
        font-size: $font-size-lg;
    }

    .container {
        @extend %flex-layout;
    }
}

@each $key, $val in $colors {
    .navbar-#{$key} {
        @extend .navbar;
        background-color: $val;
    }
}
